BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Always
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: Empty
AlignAfterOpenBracket: DontAlign
AlwaysBreakAfterDefinitionReturnType: None
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 0
IndentWrappedFunctionNames: false
ContinuationIndentWidth: 4
IndentAccessModifiers: false
AccessModifierOffset: -4
PointerAlignment: Left